/* Live Preview Mode */
:not(.cm-formatting).cm-header-1:before {
    content: '# ';
}

:not(.cm-formatting).cm-header-2:before {
    content: '## ';
}

:not(.cm-formatting).cm-header-3:before {
    content: '### ';
}

:not(.cm-formatting).cm-header-4:before {
    content: '#### ';
}

:not(.cm-formatting).cm-header-5:before {
    content: '##### ';
}

:not(.cm-formatting).cm-header-6:before {
    content: '###### ';
}

/* Reading Mode */
.markdown-preview-view .heading-1:before {
    content: '# ';
}

.markdown-preview-view .heading-2:before {
    content: '## ';
}

.markdown-preview-view .heading-3:before {
    content: '### ';
}

.markdown-preview-view .heading-4:before {
    content: '#### ';
}

.markdown-preview-view .heading-5:before {
    content: '##### ';
}

.markdown-preview-view .heading-6:before {
    content: '###### ';
}

/* For both live preview and reading mode */
.cm-header:before,
.markdown-preview-view .heading-1:before,
.markdown-preview-view .heading-2:before,
.markdown-preview-view .heading-3:before,
.markdown-preview-view .heading-4:before,
.markdown-preview-view .heading-5:before,
.markdown-preview-view .heading-6:before {
    color: var(--text-faint);
}

/* Remove markdown symbols when the header is active in live preview */
.cm-active.cm-line .cm-header-1:before,
.cm-active.cm-line .cm-header-2:before,
.cm-active.cm-line .cm-header-3:before,
.cm-active.cm-line .cm-header-4:before,
.cm-active.cm-line .cm-header-5:before,
.cm-active.cm-line .cm-header-6:before {
    content: '';
}

